<div class="container login-container h-100 d-flex align-items-center">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form class="example-form" onsubmit="return false;">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Username</mat-label>
                    <span matPrefix>
                        <mat-icon>person</mat-icon>
                    </span>
                    <input matInput value="">
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Password</mat-label>
                    <span matPrefix>
                        <mat-icon>lock</mat-icon>
                    </span>
                    <input matInput type="password" value="">
                </mat-form-field>
                <button (click)="submit()" class="w-100" color="primary" mat-raised-button>Login</button>
            </form>
        </mat-card-content>
    </mat-card>

</div>
