<mat-toolbar>
    <mat-toolbar-row class="d-flex justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
        <div class="user">
            <button mat-button [matMenuTriggerFor]="menu" class="d-flex align-items-center">
                <img class="avatar" src="../../../../assets/user.jpg" alt="avatar" />User Name
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
