<mat-toolbar>
    <mat-toolbar-row class="d-flex justify-content-between">
        <button (click)="toggleSidebar()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <div class="user">
            <button [matMenuTriggerFor]="menu" class="d-flex align-items-center" mat-button>
                <img alt="avatar" class="avatar" src="../../../../assets/user.jpg"/>User Name
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="logout()" mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    Logout
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
